a[href^="mailto:"], a[href^="tel:"] {
    display: inline-flex;
}

article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto max-w-content;
}

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

.btn {
    @apply py-3 px-6 flex rounded-full transition font-extrabold max-h-12 justify-center items-center text-center cursor-pointer;
}

.btn-ochre {
    @apply bg-mrct-ochre-light text-mrct-white hover:bg-mrct-ochre-dark;
}

.btn-orange {
    @apply bg-mrct-orange text-mrct-white hover:bg-mrct-navy-light;
}

.btn-lilac {
    @apply bg-mrct-lilac-dark text-mrct-white hover:bg-mrct-orange;
}

.btn-trans {
    @apply bg-transparent text-inherit border-2;
}

.menu-link {
    @apply font-semibold group-hover:text-mrct-orange group-hover:border-mrct-orange group-hover:border-b-4 group-hover:-mb-1;
}

.menu-link-active {
    @apply font-semibold text-mrct-orange border-mrct-orange border-b-2 -mb-1;
}

.fancy-grid-container article:not(:first-child) img {
    @apply hidden xl:block xl:relative;
}

.fancy-grid-container article:not(:first-child) .overlay {
    @apply relative xl:absolute;
}

.fancy-grid-container article:not(:first-child) .overlay:hover {
    @apply aspect-4/3;
}

* {
    @apply scroll-mt-[157px];
}

.over-header svg, .over-header a svg {
    height: 20px;
}

section.page h1 {
    @apply font-extrabold text-4xl text-mrct-navy-light mb-6;
}

section.page h2 {
    @apply font-extrabold text-2xl text-mrct-navy-light mb-2;
}

section.page h3, section.page h3.wp-block-heading {
    @apply font-extrabold text-xl text-mrct-navy-light mb-2;
}

section.page h4, section.page h3.wp-block-heading {
    @apply font-bold text-lg text-mrct-navy-light mb-1;
}

section.page .col-left ul {
    @apply ml-8 mb-4 mt-4 list-disc text-mrct-navy-light;
}

section.page .col-left ol {
    @apply ml-8 mb-4 mt-4 list-decimal text-mrct-navy-light;
}

section.page .col-left hr {
    @apply my-8;
}

section.page ul li {
    @apply mb-1;
}

section.page p {
    @apply mb-2 text-mrct-navy-light;
}

section.page .col-left p a, section.page .col-left ul li a {
    @apply underline underline-offset-4 decoration-mrct-orange decoration-2 hover:decoration-mrct-ochre-dark;
}

details summary {
    @apply after:border-r-2 after:border-b-2 after:border-mrct-navy-light after:flex flex justify-between items-center after:w-3 after:h-3 after:aspect-square after:rotate-45;
}

details[open] summary {
    @apply after:border-r-0 after:border-b-0 after:border-l-2 after:border-t-2 after:border-mrct-navy-light after:flex after:justify-between after:items-center after:w-3 after:h-3 after:aspect-square after:rotate-45;
}

.content-wrapper h2 {
    @apply mt-8;
}

.content-wrapper h3 {
    @apply mt-6;
}

.content-wrapper h4 {
    @apply mt-4;
}

.read-more::after, .learn-more::after {
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
    display: none;
}
.skiptranslate.goog-te-gadget {
    display: flex;
    align-items: center;
}

.skiptranslate.goog-te-gadget {
    font-size: 0;
}

/* mobile menu */

.menu-hide {
    @apply -left-full;
}


